html {
	font-size: 10px;
}

body {
	margin: 0;
	overflow-x: hidden; 
}

.main {
	height: 100vh;
	min-height: 450px;
	background: url(../img/Russkikh.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
	font-size: 4rem;
	text-align: center;
}

h1 {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.menu {
	height: 100vh;
	width: 25rem;
	background-color: #fff;
	position: absolute;
	top: 0;
	text-align: left;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	transform: translateX(-100%);
}

.menu-new {
	height: 100vh;
	width: 25rem;
	background-color: #fff;
	position: absolute;
	top: 0;
	text-align: left;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	transform: translateX(0%);
}

ul {
	padding: 0;
}

li {
	margin-bottom: 4rem;
	font-size: 3rem;
}

li a {
	text-decoration: none;
	color: #000;
}

.menu-close {
	width: 5rem;
	height: 5rem;
	background: url(../img/close.svg) no-repeat center center;
	background-size: cover;
	display: block;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.open {
	width: 5rem;
	height: 5rem;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	display: block;
	top: 1rem;
	left: 1rem;
	-webkit-transition: all 2s;
	 -o-transition: all 2s;
	 transition: all 2s; 
}

.menu-open {
	width: 5rem;
	height: 5rem;
	background: url(../img/close.svg) no-repeat center center;
	background-size: cover;
	display: block;
	transform: rotate(45deg);
}

.open-new {
	width: 5rem;
	height: 5rem;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	display: none;
	top: 1rem;
	left: 1rem;
}

/*Media*/

@media (max-width: 1200px) {
	html {
		font-size: 9px;
	}
}

@media (max-width: 992px) {
	html {
		font-size: 8px;
	}
}

@media (max-width: 768px) {
	html {
		font-size: 6px;
	}
}

@media (max-width: 600px) {
	html {
		font-size: 5px;
	}
}

@media (max-width: 400px) {
	html {
		font-size: 4px;
	}
}